@model List<Tp7.EF.MVC.Models.CategoriesView>

@{
    ViewBag.Title = "Categories";
}

<h2>Index categorias</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion Categoria</th>
            <th scope="col">Actions</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <th scope="row">@cat.Id</th>
                <td>@cat.Name</td>
                <td>@cat.Description</td>
                <td>@Html.ActionLink("Editar", "Edit", new { id = cat.Id }, "Categories")</td>
                <td>@Html.ActionLink("Borrar", "Delete", new { id = cat.Id }, new { onclick = "return confirm('Esta seguro que quiere borrar?')" })</td>
            </tr>

        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Insertar Nueva Categoria", "Insert", "Categories")
</div>

